*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Montserrat, sans-serif;
}
header{
    height: 100vh;
    background-image:url(header_image.jpg);
    background-size: cover;
    background-position-x: 40%;
    background-position-y: center;
    color: white;
    overflow: hidden;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B2522;
    padding: 0.4rem 0.8rem;
    width: 100%;
    z-index: 2;
    animation: appear;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes appear {
    from{
        opacity: 0;
        transform: translateY(-1rem);       
    }
    to{
        opacity: 1;
        transform: translateY(0rem);
    }
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
}
ul li{
    margin: 0 20px 0 0;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #CCC;
}
button{
    background-color: #7bcdc4;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 0.3rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
}
button:hover{
    background-color: #287975;
}
.heading{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000a07;
    height: 100%;
}
.line{
    height: 0.1rem;
    width: 1rem;
    opacity: 0;
    background-color: #7bcdc4;
    position: relative;
    animation: left-right;
    animation-delay: 0.8s;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function:ease;
    animation-iteration-count: infinite;
}
@keyframes left-right {
    0%{
        opacity: 1;
        left:-15rem;
    }
    20%{
        padding:0 3rem 0 0;
    }
    60%{
        padding:0 3rem 0 0;
    }
    100%{
        padding: 0 3rem 0 -3rem;
        opacity: 1;
        left: 15rem;
        background-color: white;
    }
}
.headline{
    font-size: 3rem;
    position: relative;
    animation: appear1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes appear1 {
    0%{
        opacity: 0;
        color: #7bcdc4;
        left: -8rem;
    }
    65%{
        left: 2rem;
        color: #7bcdc4;
    }
    100%{
        opacity: 1;
        color: white;
        left: 0rem;
    }
}
.subheadline{
    font-size: 1.5rem;
    margin:0.3rem 0 1rem 0;
    position: relative;
    animation: appear2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes appear2 {
    0%{
        opacity: 0;
        color: #3d9187;
        
        letter-spacing: 0.15rem;
    }
    100%{
        opacity: 1;
        color: white;
        letter-spacing: 0rem;
    }
}
.learn{
    transition: 0.1s;
    animation: appear3;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: 0.1s;
}
@keyframes appear3 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.learn:hover{
    transform: scale(1.1);
    box-shadow: 0 0px 7px 3px black;
}
.scroll{
    position:absolute;
    bottom: 1rem;
    height: 25px;
    animation: up-down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes up-down {
    from{
        transform: translateY(-0.7rem);
    }
    to{
        transform: translateY(0rem);
    }
}
main{
    background-color: white;
    color:black;
}
.sec1{
    padding: 2rem;
}
.sec1head{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.cont{
    display: grid;
    justify-content: center;
    grid-template-columns: 445px 445px;
    row-gap: 18px;
    column-gap: 50px;
}
.item{
    display: flex;
    align-items: center;
}
.icon{
    height: 50px;
    margin-right: 1rem;
    width: 50px;
}
.item:hover .icon{
    animation: shake;
    animation-duration: 0.05s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
}
@keyframes shake {
    from{
        transform: rotate(5deg);
    }
    to{
        transform: rotate(-5deg);
    }
}
p{
    margin: 0.6rem 0 0.6rem 0;
}
.sec2{
    padding: 2rem;
    background-color: #7bcdc4;
}
.price{
    display: flex;
    justify-content: center;
}
.price1{
    margin: 1rem 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    transform-origin: right;
    border:1px solid black;
    border-right: none;
    background-color: #DCF4FF;
    padding: 1rem;
    transition: 0.1s;
}
.price1:hover{
    transform: scale(1.05);
}
.prhead{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.pr{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.pr::after{
    content: '/mo';
    font-weight: bold;
    color: #777;
    font-size: 0.75rem;
}
.feature{
    display: grid;
    row-gap: 0.5rem;
}
.fetxtinactive{
    color: #777;
    text-decoration: line-through;
}
.price2{
    background-color: white;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    transition: 0.1s;
}
.price2:hover{
    transform: scale(1.05);
}
.price3{
    margin: 1rem 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    transform-origin: left;
    border:1px solid black;
    border-left: none;
    background-color: #DCF4FF;
    padding: 1rem;
    transition: 0.1s;
}
.price3:hover{
    transform: scale(1.05);
}
.sec3{
    padding: 2rem;
}
.sec3head{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0.4rem 0 1rem 0;
}
.enter{
    display: flex;
    flex-direction: column;
    padding: 1rem 12rem;
}
span{
    font-size: 1.1rem;
    font-weight: bold;
}
input{
    margin-bottom: 0.6rem;
    margin-top: 0.25rem;
    outline: none;
    border: 1px solid #1B2522;
    border-radius: 0.3em;
    padding: 0.5em;
}
.Message{
    padding: 0.5rem;
    height: 4rem;
    outline: none;
    margin: 0.25rem 0 0 0;
    border: 1px solid #1B2522;
    border-radius: 0.3rem;
}
.send{
    display: flex;
    justify-content: end;
    padding: 0 12rem;
}
.sendbut{
    border-radius: 0.3rem;
}
footer{
    height: 4rem;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #1B2522;
}
@media (Width <= 900px) {
    .cont{
        display: grid;
        justify-content: center;
        grid-template-columns: 345px;
        row-gap: 30px;
    }
    nav{
        padding: 0.20rem 0.8rem;
        font-size: .75rem;
    }
    button{
        font-size: 0.8rem;
    }
    .line{
        animation-duration: 1.5s;
    }
    @keyframes left-right {
        0%{
            opacity: 1;
            left:-7rem;
        }
        20%{
            padding:0 2rem 0 0;
        }
        55%{
            padding:0 2rem 0 0;
        }
        100%{
            padding: 0 2rem 0 -2rem;
            opacity: 1;
            left: 7rem;
            background-color: white;
        }
    }
    .headline{
        text-align: center;
        font-size: 2.7rem;
    }
    .subheadline{
        font-size: 1.2rem;
    }
    .price{
        display: grid;
        justify-content: center;
    }
    .price1{
        margin: 1rem 0;
        border-radius: 0.3rem;
        border:1px solid black;
        background-color: #DCF4FF;
        padding: 1rem;
        transform-origin: center;
        transition: 0.1s;
    }
    .price3{
        margin: 1rem 0;
        border-radius: 0.3rem;
        border:1px solid black;
        background-color: #DCF4FF;
        padding: 1rem;
        transform-origin: center;
        transition: 0.1s;
    }
    .enter{
        padding: 1rem 0;
    }
    .send{
        padding: 0 1rem;
    }
    footer{
        height: 3rem;
        font-size: 0.9rem;
    }
}